.app {
    height: 100%;
    --primary-color: var(--teal-2);
    --primary-color-opacity: var(--teal-2-opacity);
    --background-color: var(--near-white);
    --text-color: var(--black);
    --near-background-color: var(--white);
    --light-color: var(--light-gray);
    background-color: var(--near-background-color);
    color: var(--text-color);


    .page-wrapper {
        display: grid;
        grid-template-columns: minmax(var(--large-gap), 1fr) minmax(0, 1000px) minmax(var(--large-gap), 1fr);
        padding-top: var(--large-gap);

        &>* {
            grid-column: 2;
        }
    }
}